<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :to_user_name %><br>
    <%= f.text_field :to_user_name %>
  </div>
  <div class="field">
    <%= f.label :create_time %><br>
    <%= f.number_field :create_time %>
  </div>
  <div class="field">
    <%= f.label :msg_type %><br>
    <%= f.text_field :msg_type %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :msg_id %><br>
    <%= f.number_field :msg_id %>
  </div>
  <div class="field">
    <%= f.label :media_id %><br>
    <%= f.text_field :media_id %>
  </div>
  <div class="field">
    <%= f.label :pic_url %><br>
    <%= f.text_field :pic_url %>
  </div>
  <div class="field">
    <%= f.label :format %><br>
    <%= f.text_field :format %>
  </div>
  <div class="field">
    <%= f.label :thumb_media_id %><br>
    <%= f.text_field :thumb_media_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
