<h1>Listing messages</h1>

<table>
  <thead>
    <tr>
      <th>From user name</th>
      <th>To user name</th>
      <th>Create time</th>
      <th>Msg type</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
		<% if PublicAccount.find_by_name(message.to_user_name) %>
		<td><%= message.follower.nickname%></td>
		<td><%= message.public_account.official_name %></td>
		<% else%>
		<td><%= message.public_account.official_name %></td>
		<td><%= message.follower.nickname %></td>
		<% end %>
        <td><%= Time.at(message.create_time).strftime("%B %e, %Y at %H:%M:%S") %></td>
        <td><%= message.msg_type %></td>
		<% if message.msg_type.eql? "VoiceMessage"%>
		<td><%= message.recognition %></td>
		<% else %>
        <td><%= message.content %></td>
		<% end %>
        <td><%= link_to 'Show', message_path(message) %></td>
        <td><%= link_to 'Destroy', message_path(message), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

