<p id="notice"><%= notice %></p>

<p>
  <strong>To user name:</strong>
  <%= @message.to_user_name %>
</p>

<p>
  <strong>Create time:</strong>
  <%= @message.create_time %>
</p>

<p>
  <strong>Msg type:</strong>
  <%= @message.to_str %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @message.msg_id %>
</p>

<p>
  <strong>Media:</strong>
  <%= @message.media_id %>
</p>

<p>
  <strong>Pic url:</strong>
  <%= @message.pic_url %>
</p>

<p>
  <strong>Format:</strong>
  <%= @message.format %>
</p>

<p>
  <strong>Thumb media:</strong>
  <%= @message.thumb_media_id %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
